/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* -------------------------------------------------------------
  Kendo Theme Mixins! 
  Customized by [24]7 IS
  A Mixin File to be @imported and @included as you need

  The purpose of this mixin is to integrate easily different theme-color of kendo.
  Please update if you see any need.

  Objects customized are the foloowing:
    -   k-calendar 
    -   k-textbox
    -   k-grid
    -   k-pager         
 
------------------------------------------------------------- */
.k-hierarchy-cell .k-plus {
  background-position: 0 -208px;
}

.k-grid-header th > .k-link > .k-icon {
  z-index: 999;
  position: absolute;
  left: -4px;
}

.k-grid-header th.k-header > .k-link {
  position: relative;
  padding-left: 10px;
  margin-left: -11px;
}

@font-face {
  font-family: "Flaticon";
  src: url("../flaticons/flaticon.eot");
  src: url("../flaticons/flaticon.eot#iefix") format("embedded-opentype"), url("../flaticons/flaticon.woff") format("woff"), url("../flaticons/flaticon.ttf") format("truetype"), url("../flaticons/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="fi-"]:before, [class*=" fi-"]:before,
[class^="fi-"]:after, [class*=" fi-"]:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-performance:before {
  content: "\e000";
}

.fi-book:before {
  content: "\e001";
}

.fi-location:before {
  content: "\e002";
}

.fi-medical:before {
  content: "\e003";
}

.fi-certificate:before {
  content: "\e004";
}

.fi-portfolio:before {
  content: "\e005";
}

.fi-skills:before {
  content: "\e006";
}

.fi-settings:before {
  content: "\e007";
}

.fi-home:before {
  content: "\e008";
}

.fi-more:before {
  content: "\e009";
}

.fi-mobile:before {
  content: "\e00a";
}

.fi-groups:before {
  content: "\e00b";
}

.fi-alarm-off:before {
  content: "\e00c";
}

.fi-apps:before {
  content: "\e00d";
}

.fi-development:before {
  content: "\e00e";
}

.fi-benefits:before {
  content: "\e00f";
}

.fi-direct-report:before {
  content: "\e010";
}

.fi-alarm-on:before {
  content: "\e011";
}

.fi-profile:before {
  content: "\e012";
}

.fi-awards:before {
  content: "\e013";
}

.kendo-form-control {
  width: 100% !important;
}

.control-input .k-dropdown {
  width: 100%;
}

.k-dropdown,
.k-datepicker,
.k-datetimepicker,
.k-textbox,
.k-multiselect,
.k-numerictextbox {
  border: 1px solid #ccc !important;
}

.k-datepicker .k-input,
.k-timepicker .k-input,
.k-dropdown .k-state-default {
  background-color: #ffffff !important;
}

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  border-color: #ffffff !important;
}

input.k-textbox,
input.k-textbox:focus {
  text-indent: 0.8em !important;
}

input.form-control.k-textbox:focus {
  padding: 2px 0.3em !important;
}

.kendo-form-control.input-sm,
.kendo-calendar.input-sm {
  font-size: 12px !important;
  line-height: 32px !important;
}

.k-textbox.input-sm {
  padding: 6px 10px !important;
}

.k-textbox:hover,
.k-overflow-anchor:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover,
.k-multiselect-wrap:hover {
  box-shadow: 0 2px 6px #00aff0, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}

.k-multiselect-wrap:hover {
  cursor: pointer;
}

.k-list > .k-state-selected.k-state-focused,
.k-state-selected {
  color: #555555 !important;
}

.not-groupable {
  cursor: not-allowed;
}

span.kendo-calendar {
  display: block;
  padding: 0;
}

.k-radio:checked + .k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:before {
  border-color: #eeeeee !important;
}

.k-radio:checked + .k-radio-label:after {
  background-color: #eeeeee !important;
}

.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 0 0.75em rgba(0, 146, 150, 0.24) !important;
}

.k-radio-label,
.k-checkbox-label {
  font-family: inherit;
  display: inline;
}

.k-radio-label:before,
.k-checkbox-label:before {
  box-sizing: unset;
}

.k-radio-label:after,
.k-checkbox-label:after {
  box-sizing: unset;
}

.k-radio-label:hover:before {
  border: 2px solid #eeeeee !important;
}

.k-radio:checked + .k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:before {
  border-color: #eeeeee !important;
}

.k-radio:checked + .k-radio-label:after {
  background-color: #eeeeee !important;
}

.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 0 0.75em rgba(0, 146, 150, 0.24) !important;
}

.k-radio-label.k-label {
  font-family: "Nimbus Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding-left: 22px !important;
  padding-right: 10px !important;
  font-size: 0.9em !important;
}

.k-grouping-header {
  font-size: 12px;
  background-color: #eeeeee !important;
  color: #555555 !important;
}

.k-grouping-header .k-group-indicator {
  font-size: 12px;
  border-color: #555555 !important;
  background-color: #555555 !important;
}

.k-grid-header .k-header {
  color: #444 !important;
}

.k-grid-header .k-state-active {
  background-color: #eeeeee !important;
}

.k-grid-header .k-state-active > .k-i-arrowhead-s {
  background-position: -80px -32px !important;
}

.k-grid-header th.k-header > .k-link {
  color: #444 !important;
}

.k-grid-header th.k-header,
.k-filter-row th {
  border-width: 0 1px 1px 0 !important;
}

.k-pager-info {
  color: #444 !important;
}

.k-grid.k-grid-condensed td {
  padding: 0 8px !important;
}

.k-grid.k-grid-condensed .k-grid-header th.k-header {
  padding-left: 8px;
}

.k-grid.k-grid-condensed .k-grid-header .k-grid-filter,
.k-grid.k-grid-condensed .k-grid-header .k-header-column-menu {
  padding: 10px 8px;
}

.k-grid .k-hierarchy-cell {
  border-left-width: 0 !important;
}

.k-grid tr td {
  border-right-width: 1px !important;
  border-style: solid !important;
  border-bottom-width: 1px !important;
}

.k-grid tr td:last-child {
  border-right-width: 0 !important;
}

.k-grid tr td.k-hierarchy-cell {
  border-right-width: 0 !important;
  border-style: solid !important;
}

.k-grid tr td.k-hierarchy-cell + td {
  border-right-width: 0 !important;
  border-style: solid !important;
}

.k-grid-toolbar {
  background-color: transparent !important;
  border-bottom-color: #e6e6e6 !important;
  border-left-color: none !important;
  text-align: right;
}

.k-link.k-nav-today {
  color: #555555 !important;
}

.k-calendar .k-header .k-state-hover {
  background-color: #e2e2e2 !important;
  border-radius: 3px;
  background-color: #e2e2e2 !important;
}

.k-calendar .k-header:not(.kendo-calendar) {
  background-color: #eeeeee !important;
}

.k-calendar .k-header .k-link {
  color: #555555 !important;
}

.k-calendar .k-header .k-link .k-icon.k-i-arrow-e,
.k-calendar .k-header .k-link:not(.k-state-disabled):hover > .k-i-arrow-e,
.k-calendar .k-header .k-link.k-state-hover .k-icon.k-i-arrow-e {
  background-position: 0px -18px;
}

.k-calendar .k-header .k-link .k-icon.k-i-arrow-w,
.k-calendar .k-header .k-link:not(.k-state-disabled):hover > .k-i-arrow-w,
.k-calendar .k-header .k-link.k-state-hover .k-icon.k-i-arrow-w {
  background-position: 0px -48px;
}

.k-calendar td.k-state-focused {
  box-shadow: inset 0 0 0 1px #808080;
}

.k-calendar td.k-state-selected {
  background-color: #f28900 !important;
  box-shadow: none;
}

.k-calendar td.k-state-selected.k-state-focused {
  box-shadow: inset 0 0 0 1px #808080;
}

.k-calendar td.k-state-selected.k-state-hover {
  background-color: #d87b00 !important;
}

.k-calendar td.k-state-hover {
  text-decoration: none;
  background-color: #00aff0 !important;
  box-shadow: inset 0 0 0 1px #808080;
}

.k-calendar td.k-state-hover a {
  color: #fff !important;
}

.k-calendar .k-state-selected > .k-link {
  color: #fff !important;
}

.k-calendar .k-today {
  box-shadow: inset 0 0 0 1px #808080 !important;
  background-color: #ffe3bf !important;
}

.k-calendar .k-today .k-link {
  color: #333333;
}

.k-calendar .k-today:hover {
  background-color: #e2e2e2;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #808080 !important;
}

.k-calendar .k-today:active {
  box-shadow: inset 0 0 0 1px #00484a;
}

.k-pager-numbers .k-state-selected {
  border-color: #555555 transparent !important;
  color: #555555 !important;
}

.k-checkbox:checked + .k-checkbox-label:after {
  background-color: #eeeeee !important;
  border-color: #eeeeee !important;
}

.k-grid-content tr:last-child td {
  border-bottom-width: 1px !important;
}

.k-widget.k-tooltip {
  background-color: #000 !important;
}

.k-callout-e {
  border-left-color: #000 !important;
}

.k-grid-text-center {
  text-align: center !important;
}

.k-grid-text-right {
  text-align: right !important;
}

.k-grid-text-strong {
  font-weight: bold !important;
}

.k-grid-text-top {
  vertical-align: top !important;
}

.k-grid-text-middle {
  vertical-align: middle !important;
}

.k-grid-table-height {
  height: 100%;
  width: 100%;
}

td.k-pre-wrap span {
  white-space: pre-wrap;
}

body {
  background: #fafafa;
  color: #333333;
}

.main-logo {
  width: 90%;
  padding: 10px 12px;
  color: red;
}

.main-nav {
  position: fixed;
  width: 230px;
  background: #4D4D4D;
  top: 0;
  bottom: 0;
  z-index: 20;
}

.main-nav #mainNavbar {
  width: 100%;
  padding: 0;
}

.main-nav ul.nav a {
  color: #fff;
  letter-spacing: 2px;
}

.main-nav ul.nav a:hover,
.main-nav ul.nav a:focus {
  background-color: #333;
}

.main-content {
  width: calc(100% - 230px);
  width: -webkit-calc(100% - 230px);
  width: -moz-calc(100% - 230px);
  margin-left: 230px;
}

.panel-widget-search {
  display: inline-block;
  width: 400px;
  display: inline-block;
}

.panel-widget-search + .btn-filter {
  display: inline-block;
  vertical-align: top;
}

.page-header {
  position: relative;
}

/*# sourceMappingURL=main.css.map */