// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";
@import "assets-variables.scss";

// Load All IRIS Components
// Flaticons
@import "../flaticons/flaticon.scss";
@include kendo-theme-variant($gray-lighter);
// Body
body {
    // background-size: 40%;
    // background-image: url(../../assets-common/img/body-bg.png);
    // background-position: center center; 
    // background-attachment: fixed;
    background: $body-bg;
    color: $gray-dark;
}

.main-logo {
    width: 90%;
    padding: 10px 12px;
}

.main-nav {
    position: fixed;
    width: $main-nav-width;
    background: #4D4D4D;
    top: 0;
    bottom: 0;
    z-index: 20;

    #mainNavbar {
        width: 100%;
        padding: 0;
    }
    li.active {
        a {
            background-color: #333;
        }
    }
    ul.nav {
        a {
            color: #fff;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover,
            &:focus {
                background-color: #333;
            }
        }
    }
    .sub-menu {
        a {
            font-size: .85em;
            padding: 10px 30px;
        }
    }
}

.main-content {
    @include calc-sub-two-values(width, 100%, 230px);
    margin-left: $main-nav-width;
    margin-top: 60px;
}

.panel-widget-search {
    display: inline-block;
    width: 400px;
    display: inline-block;
}

.panel-widget-search+.btn-filter {
    display: inline-block;
    vertical-align: top;
}

.page-header {
    position: relative;
}

.control-label {
    position: relative;
}

.main-page-header {
    text-align: center;
    border-bottom: 0;
    border-top: 4px solid #2e59a0;
    position: fixed;
    padding-bottom: 40px;
    left: 230px;
    right: 0;
    top: 0;
    z-index: 50;
    .main-page-title {
        display: block;
        margin: 0 0 20px;
        background: #2e59a0;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px 0;
        letter-spacing: 4px;
    }
}

// Overlay
.loader-mask {
    // display: none;
    @media (min-width: $screen-md-min) {
        left: 230px;
    }
}

.well-adjust-md{
     @media (max-width: $screen-md-max) {
        padding:0;
    }
}