// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";
@import "assets-variables.scss";

// Load All IRIS Components
// Flaticons
@import "../flaticons/flaticon.scss";
@include kendo-theme-variant($gray-lighter);
// Body
body {
    // background-size: 40%;
    // background-image: url(../../assets-common/img/body-bg.png);
    // background-position: center center; 
    // background-attachment: fixed;
    background: $body-bg;
    color: $gray-dark;
}

.main-logo {
    width: 51%;
    padding: 10px 12px 0;
    @media (max-width: $screen-sm-max) {
        float: left;
        width: 100px;
        padding: 0;
    }
}

.account-menu {
    // margin-right: 15px;
    padding: 3px 15px 7px;
    border-bottom: 1px solid #333333;
    color: #fff; // a {
    //     color: #fff;
    // }
    @media (max-width: $screen-sm-max) {
        float: left;
        border-bottom: 0;
    }
    .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    .dropdown-toggle {
        color: #fff;
        a {
            color: #fff;
        }
        &:hover {
            color: #fff;
        }
    }

    .dropdown-menu {
        li {
            padding: 15px;
        }
    }
}

.main-nav {
    position: fixed;
    width: $main-nav-width;
    background: #4D4D4D;
    top: 0;
    bottom: 0;
    z-index: 20;
    @media (max-width: $screen-sm-max) {
        width: 100%;
        height: 40px;
        padding: 6px 0;
    }
    #mainNavbar {
        padding: 0;
        overflow: auto;
        position: fixed;
        top: 80px;
        bottom: 0;
        width: 230px;
        background: #4d4d4d;

        @media (max-width: $screen-sm-max) {
            top: 40px;
            // @include translate(-100%, 0);
        }
    } // #navCollapse {
    //     @media (max-width: $screen-sm-max) {
    //         @include translate(-100%, 0);
    //     }
    // }
    .navbar-toggle {
        position: relative;
        left: 0;
        top: -6px;
        float: left;
        color: #fff;
        padding: 0 10px;
        @media (max-width: $screen-sm-max) {
            display: inline-block;
        }
    }
    li.active {
        a {
            background-color: #333;
        }
    }

    ul.nav {
        a {
            text-transform: uppercase;
            font-size: 13px;
            color: #fff; // letter-spacing: 2px;
            cursor: pointer;
            &:hover,
            &:focus {
                background-color: #333;
            }

            .md {
                margin-right: -7px;
                margin-top: 4px;
            }
        }
    }

    .sub-menu {
        a {
            font-size: .9em;
            padding: 10px 30px;
            text-transform: unset !important;
        }
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 18px !important;
    }
}

.main-content {
    @include calc-sub-two-values(width, 100%, 230px);
    margin-left: $main-nav-width;
    margin-top: 60px;
    @media (max-width: $screen-sm-max) {
        margin-top: 73px;
        margin-left: 0;
    }
}

.panel-widget-search {
    display: inline-block;
    width: 400px;
    display: inline-block;
}

.panel-widget-search+.btn-filter {
    display: inline-block;
    vertical-align: top;
}

.page-header {
    position: relative;
}

.control-label {
    position: relative;
}

.main-page-header {
    text-align: center;
    border-bottom: 0;
    border-top: 4px solid #2e59a0;
    position: fixed;
    // padding-bottom: 40px;
    left: 230px;
    right: 0;
    top: 0;
    z-index: 10;
    .main-page-title {
        display: block;
        margin: 0 0 20px;
        background: #2e59a0;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px 0;
        letter-spacing: 4px;
    }

    @media (max-width: $screen-sm-max) {
        top: 40px;
        left: 0;
    }
}

// Overlay
.loader-mask {
    // display: none;
    @media (min-width: $screen-md-min) {
        left: 230px;
    }
}

.well-adjust-md {
    @media (max-width: $screen-sm-max) {
        padding:0;
    }
}

.login-form {
    .logo-brand {
        width: 200px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}