@model PL.MVC.IOBalance.Areas.AdminManagement.Models.BranchSearchModel

<div class="modal fade" id="mdlsearchbranch" tabindex="-1" role="dialog" aria-labelledby="mdlsearchbranch" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header text-center">
            <h4 class="modal-title">Search Branch</h4>
            <span><small>search your query here</small></span>
        </div>


        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" id="frmSearchBranch">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Branch Name</label>
                        <div class="control-input col-sm-8">
                            @Html.TextBoxFor(m => m.BranchName,
                        new
                        {
                            @class = "form-control",
                            @id = "BranchName"
                        })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3 text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-link">Cancel</button>
                            <button type="button" id="removefilter" class="btn btn-sm btn-default">Remove Filter</button>
                            <button id="searchdetails" type="button" class="btn btn-sm btn-warning">Search Branch</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
