@model PL.Business.Dto.IOBalance.ProductDto

<div class="modal fade" id="mdleditproductimage" tabindex="-1" role="dialog" aria-labelledby="mdleditproductimage" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header text-center">
            <h4 class="modal-title">Edit Product Image</h4>
            <small>Upload Product Image</small>
        </div>

        <div class="modal-content">
            <div class="modal-body">

                <form class="form-horizontal" id="frmUpdateProductImage" action="@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.UploadProductImage())" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Product Image</label>
                        <div class="control-input col-sm-8">
                            @Html.HiddenFor(m => m.ProductID, new { @id = "hdfProductIdEditProductImage" })
                            <input type="file" value="" id="" name="ProductImage" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3 text-right">
                            <button type="button" data-dismiss="modal" class="btn btn-link">Cancel</button>
                            <input type="submit" value="Upload" class="btn btn-sm btn-warning" />
                            @*<button id="saveqtydetail" type="button" class="btn btn-warning">Upload</button>*@

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>