@model PL.Business.Dto.IOBalanceV2.CategoryDto

<div class="modal fade" id="mdledit" tabindex="-1" role="dialog" aria-labelledby="mdledit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header text-center">
            <h4 class="modal-title">Edit Details</h4>
            <small></small>
        </div>

        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" id="frmEdit">
                    @Html.Partial(IOBALANCEMVCV2.AdminManagement.Category.Views._Details, Model)
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-transparent">Cancel</button>
                <button id="updatedetails" type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

