@model PL.MVC.IOBalanceV2.Areas.Reports.Models.PurchaseOrderSearchModel
@using PL.Business.Common;
@using Kendo.Mvc.UI;


<div class="modal fade" id="mdlsearch" tabindex="-1" role="dialog" aria-labelledby="mdlsearch" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-header text-center">
            <h4 class="modal-title">Search Purchase Order</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <form id="frmSearch">
                    <div class="form-group">
                        <label for="" class="control-label">Product details</label>
                        <div class="control-input">
                            <input id="SearchProductId" style="width:100%" name="ProductId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Supplier details</label>
                        <div class="control-input">
                            <input id="SearchSupplierId" name="SupplierId" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="" class="control-label col-sm-12">Date Purchased</label>
                            <div class="control-input col-sm-6">
                                @(Html.Kendo().DatePicker()
                                    .Name(Html.NameFor(m => m.DateFrom).ToString())
                                    .Format(Globals.DefaultRecordDateFormat)
                                    .HtmlAttributes(new
                                    {
                                        @placeholder = "mm/dd/yyyy",
                                        @maxlength = "10",
                                        @id = string.Format("dpDateFrom"),
                                        @data_is_kendo = true,
                                        @style = "width:100%"
                                    })
                                    .Value(Model.DateFrom)
                                )
                                <small class="text-muted">Date From</small>
                                @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "error" })
                            </div>
                            <div class="control-input col-sm-6">
                                @(Html.Kendo().DatePicker()
                                    .Name(Html.NameFor(model => model.DateTo).ToString())
                                    .Format(Globals.DefaultRecordDateFormat)
                                    .HtmlAttributes(new
                                    {
                                        @placeholder = "mm/dd/yyyy",
                                        @maxlength = "10",
                                        @id = string.Format("dpDateTo"),
                                        @data_is_kendo = true,
                                        @style = "width:100%"
                                    })
                                        .Value(Model.DateTo)
                                )
                                <small class="text-muted">Date To</small>
                                @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "error" })
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-transparent">Cancel</button>
                <button type="button" id="removefilter" class="btn btn-transparent">Reset</button>
                <button id="searchdetails" type="button" class="btn btn-success">Search</button>
            </div>
        </div>
    </div>
</div>
