@model PL.Business.Dto.IOBalanceV2.SupplierDto
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="text-primary">
                <i class="md md-collection-plus md-lg"></i>
                Add Supplier
            </label>
            <div class="panel-widget-controls">
                <button id="btndiscard" class="btn btn-default" tabindex="13">
                    Discard
                </button>
                <button id="btnSaveform" class="btn btn-danger" type="button" tabindex="12">
                    <i class="md md-check"></i> Save
                </button>
            </div>
        </div>
        <div class="panel-body">
            <form id="frmSave">
                @Html.Partial(IOBALANCEMVCV2.AdminManagement.Supplier.Views._Details, Model)
            </form>
        </div>
    </div>
</div>

