@model PL.MVC.IOBalanceV2.Areas.AdminManagement.Models.SupplierSearchModel


<div class="modal fade" id="mdlsearch" tabindex="-1" role="dialog" aria-labelledby="mdlsearch" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header text-center">
            <h4 class="modal-title">Search Supplier</h4>
            <small>search your query here</small>
        </div>

        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" id="frmSearch">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Supplier Code</label>
                        <div class="control-input col-sm-8">
                            @Html.TextBoxFor(m => m.SupplierCode,
                        new
                        {
                            @class = "form-control",
                            @id = "SupplierCode"
                        })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Supplier Name</label>
                        <div class="control-input col-sm-8">
                            @Html.TextBoxFor(m => m.SupplierName,
                        new
                        {
                            @class = "form-control",
                            @id = "SupplierName"
                        })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-transparent">Cancel</button>
                <button type="button" id="removefilter" class="btn btn-transparent">Remove Filter</button>
                <button id="searchdetails" type="button" class="btn btn-success">Search Supplier</button>
            </div>
        </div>
    </div>
</div>