@charset "UTF-8";

@font-face {
  font-family: "emoji";
  src:url("emoticons/emoticons.eot");
  src:url("emoticons/emoticons.eot?#iefix") format("embedded-opentype"),
    url("emoticons/emoticons.woff") format("woff"),
    url("emoticons/emoticons.ttf") format("truetype"),
    url("emoticons/emoticons.svg") format("svg");
  font-weight: normal;
  font-style: normal;

}



[class^="emoji-"]:not(.emoji-none):before,
[class*="emoji-"]:not(.emoji-none):before {
  font-family: "emoji" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.emoji-happy:before {
  content: "\61";
}
.emoji-emoticons-2:before {
  content: "\62";
}
.emoji-emoticons-3:before {
  content: "\63";
}
.emoji-sad:before {
  content: "\64";
}
.emoji-sleepy:before {
  content: "\65";
}
.emoji-superstar:before {
  content: "\66";
}
.emoji-angyr:before {
  content: "\67";
}
.emoji-contented:before {
  content: "\68";
}
.emoji-nervous:before {
  content: "\69";
}
.emoji-furious:before {
  content: "\6a";
}
.emoji-happy-solid:before {
  content: "\6b";
}
.emoji-neutral-solid:before {
  content: "\6c";
}
.emoji-sad-solid:before {
  content: "\6d";
}
.emoji-neutral:before {
  content: "\6e";
}
