@model PL.Business.Dto.IOBalanceV2.SalesOrderDetailEditDto

<div class="modal fade" id="mdleditorderlist" tabindex="-1" role="dialog" aria-labelledby="mdleditorderlist" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-header text-center">
            <h4 class="modal-title">Edit Sales order</h4>
        </div>

        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                   
                    <label for="" class="control-label">Product: <span id="EditProductName"></span></label>
                </div>
                <hr />
                <form  id="frmEditOrderList">
                   
                    <div class="form-group">
                        <label for="" class="control-label required">Quantity</label>
                        <div class="control-input">
                            @*<input type="number" class="form-control" id="EditQuantity" maxlength="16" />
                                <span class="error">Field is required, Max 18 digits</span>*@
                            @Html.TextBoxFor(m => m.Quantity,
                            new
                            {
                                @class = "form-control",
                                @id = "EditQuantity",
                                @type = "number"
                            })
                            @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label required">Price</label>
                        <div class="control-input">
                            @*<input type="number" id="EditPrice" class="form-control" maxlength="16" />
                                <span class="error">Field is required, Max 18 digits</span>*@
                            @Html.TextBoxFor(m => m.SalesPrice,
                            new
                            {
                                @class = "form-control",
                                @id = "EditPrice",
                                @type = "number"
                            })
                            @Html.ValidationMessageFor(m => m.SalesPrice, "", new { @class = "error" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-transparent">Cancel</button>
                <button id="btnEditOrderList" type="button" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</div>