@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center" style="margin-top: 50px;">
    <i class="md md-alert-triangle md-3x"></i> <br />
    <h1>UNAUTHORIZED!</h1>
    <h4>You are not authorized to access this page</h4>
</div>