@model PL.Business.Dto.IOBalanceV2.CustomerDto
<div class="col-md-10 col-md-offset-1">
    <header class="panel-widget-container">
        <h3><i class="md md-collection-plus"></i> Add new customer</h3>
        <div class="panel-widget-controls">
            <button id="btndiscard" class="btn btn-default btn-sm" tabindex="13">
                Discard
            </button>

            <button id="btnSaveform" class="btn btn-sm btn-danger" type="button" tabindex="12">
                <i class="md md-check"></i> Save
            </button>
        </div>
    </header>
    <form id="frmSave" class="row">
        @Html.Partial(IOBALANCEMVCV2.AdminManagement.Customer.Views._Details, Model)
    </form>
</div>