@model PL.MVC.IOBalanceV2.Areas.AdminManagement.Models.CustomerSearchModel


<div class="modal fade" id="mdlsearch" tabindex="-1" role="dialog" aria-labelledby="mdlsearch" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header text-center">
            <h4 class="modal-title">Search Customer</h4>
            <small>search your query here</small>
        </div>

        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" id="frmSearch">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Customer Code</label>
                        <div class="control-input col-sm-8">
                            @Html.TextBoxFor(m => m.CustomerCode,
                        new
                        {
                            @class = "form-control",
                            @id = "CustomerCode"
                        })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Customer Name</label>
                        <div class="control-input col-sm-8">
                            @Html.TextBoxFor(m => m.CustomerName,
                        new
                        {
                            @class = "form-control",
                            @id = "CustomerName"
                        })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Customer Address</label>
                        <div class="control-input col-sm-8">
                            @Html.TextBoxFor(m => m.CustomerAddress,
                        new
                        {
                            @class = "form-control",
                            @id = "CustomerAddress"
                        })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">Active?</label>
                        <div class="control-input col-sm-8">
                            <input id="SearchCustomerYesNo" style="width:100%" name="isActive" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-transparent">Cancel</button>
                <button type="button" id="removefilter" class="btn btn-transparent">Remove Filter</button>
                <button id="searchdetails" type="button" class="btn btn-success">Search Customer</button>
            </div>
        </div>
    </div>
</div>