

<div class="modal fade" id="mdleditorderlist" tabindex="-1" role="dialog" aria-labelledby="mdleditorderlist" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-header text-center">
            <h4 class="modal-title">Edit Sales order</h4>
            @*<small id="EditProductName"></small>*@
        </div>

        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label">Product: <span id="EditProductName"></span></label>
                    
                </div>
                <hr />
                <form id="frmEditOrderList">
                   
                    <div class="form-group">
                        <label for="" class="control-label required">Quantity</label>
                        <div class="control-input">
                            <input type="number" class="form-control" id="EditQuantity" />
                            <span class="error">Field is required, Max 18 digits</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label required">Price</label>
                        <div class="control-input">
                            <input type="number" id="EditPrice" class="form-control" />
                            <span class="error">Field is required, Max 18 digits</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-transparent">Cancel</button>
                <button id="btnEditOrderList" type="button" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</div>
