@using Kendo.Mvc.UI;
@using PL.Business.Common;

@(Html.Kendo().Grid<PL.Business.Dto.IOBalanceV2.OrderDto>()
        .Name("gvQueueOrders")
        .Columns(columns =>
        {
            columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' type='button' class='selected' id='edititem' data-button-type='actionbuttons' data-action-type='editbutton' " +
                                " data-queue-orderid='#=OrderId#' data-queue-salesno='#=SalesNo#' data-queue-isprinted='#=IsPrinted#' data-queue-customerid='#=CustomerId#'> " +
                                " #=SalesNo#</a>")
                .Title("Sales No.")
                .Width(150)
                .HeaderHtmlAttributes(new { @class = "bos-grid-text-center" })
                .HtmlAttributes(new { @class = "bos-grid-text-center" });
            columns.Bound(c => c.customer.CustomerDropDownDisplay).Title("Customer Name").Width(180);
            columns.Template(@<text></text>).ClientTemplate("#=HOMEQUEUEMANAGEMENT.FixCommaStringDisplay(TotalSalesPrice)#").Title("Total Price").Width(150);
            columns.Template(@<text></text>).ClientTemplate("#=HOMEQUEUEMANAGEMENT.FixCommaStringDisplay(TotalQuantity)#").Title("Total Qty").Width(120);
            columns.Bound(c => c.TotalNumberItems).Title("# Of Items").Width(100);
            columns.Bound(c => c.DateCreatedWithTimeFormat).Title("Date Queued").Width(200);
        })
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
            .Ajax()
                    .Read(read => read.Action("GetQueueOrders", "Home"))
                    .Sort(s => s.Add("DateCreated").Descending())
            .PageSize(50)
        )
)

