@using Kendo.Mvc.UI;
@using PL.Business.Common;

@(Html.Kendo().Grid<PL.Business.Dto.IOBalanceV2.SalesOrderListDto>()
                .Name("gvQueueOrderDetailList")
        .Columns(columns =>
        {
            columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' type='button' data-edit-selected='true' class='selected' id='edititem' data-button-type='actionbuttons' data-action-type='editbutton' " +
                    " data-orderlist-quantity='#=Quantity#' data-orderlist-price='#=SalesPrice#' data-orderlist-productname='#=product.ProductDropDownDisplay#' data-orderlist-productid='#=ProductId#' data-orderlist-unitprice='#=UnitPrice#'> Edit Details</a> " +
                    "<a href='javascript:void(0)' type='button' class='selected' id='removeitem' data-button-type='actionbuttons' data-action-type='deletebutton' data-orderlist-productid='#=ProductId#' " +
                    "> Delete </a>")
                .Title("Actions")
                .Width(180)
                .HeaderHtmlAttributes(new { @class = "bos-grid-text-center" })
                .HtmlAttributes(new { @class = "bos-grid-text-center" });
            columns.Bound(c => c.ProductId).Title("Product ID").Width(180).Sortable(true).Lockable(true).Visible(false);
            columns.Bound(c => c.SalesNo).Title("Sales Number").Width(180).Sortable(true).Lockable(true).Visible(false);
            columns.Bound(c => c.product.ProductDropDownDisplay).Title("Product").Width(180).Sortable(true).Lockable(true);
            columns.Bound(c => c.UnitPrice).Title("Unit Price").Width(180).Sortable(true).Lockable(true);
            columns.Bound(c => c.SalesPrice).Title("Price").Width(180).Sortable(true).Lockable(true);
            columns.Bound(c => c.Quantity).Title("Quantity").Width(180).Sortable(true).Lockable(true);
        })
        .Scrollable()
        .Sortable(sort => sort.AllowUnsort(false))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetQueueOrderList","Home")))
)
